---

---

<hr class="border-4 rounded cursor-pointer"><p></p>
<div class="bg-white p-8 m-4 md:max-w-sm md:mx-auto rounded ">
    <h2 class="font-bold w-full text-center" >Sign In</h2>
    <form class="flex flex-col mt-10 mb-10 " action="#" method="get">
        <label class="mb-2 uppercase font-bold text-lg " for="username">username</label>
        <input class="mb-2  font-bold text-lg border py-2  text-grey-darkest border-4 border-indigo-400" type="text" name="username" id="username" placeholder="username">
        <label class="mb-2 uppercase font-bold text-lg " for="email">e-mail</label>
        <input class="mb-2  font-bold text-lg border py-2  text-grey-darkest border-4 border-indigo-400" type="email" name="email" id="email" placeholder="email">
        <label class="mb-2 uppercase font-bold text-lg " for="password">Password</label>
        <input class="mb-2  font-bold text-lg  py-2 text-grey-darkest border" type="password" name="password" id="password" placeholder="password">
        <button class="block bg-teal-500 text-white py-2 text-grey-darkest text-lg font-bold hover:bg-teal-400 mx-auto rounded"  type="submit">Create Account</button>
    </form>
</div>

<style>
    body{background-color: teal;}
    h2 {
        font-size: 5em;
    }
</style>


